:root {
    --color-principal: #35C059;
    --color-principal-hover: #33AF53;
    --color-secundario: #262626;
    --color-secundario-hover: #424242;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.buttonprimary {
    background-color: var(--color-principal);
    color: white;
}

.buttonprimary:hover {
    background-color: var(--color-principal-hover);
    color: white;
    font-weight: bold;
}

.whitetextbtn{
    color:white;
    text-decoration:none;
    font-weight: bold;
}

.whitetextbtn:hover {
    color: white;
    text-decoration: none;
}

.buttonsecondary {
    background-color: var(--color-secundario);
    color: white;
}

.buttonsecondary:hover {
    background-color: var(--color-secundario-hover);
    color: white;
}
