:root {
    --color-principal: #35C059;
    --color-principal-hover: #33AF53;
    --color-secundario: #262626;
    --color-secundario-hover: #424242;
    --info-color-mine: #0B97B4;
}
html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.buttonprimary {
    background-color: var(--color-principal);
    color: white;
}

.buttonprimary:hover {
    background-color: var(--color-principal-hover);
    color: white;
    font-weight: bold;
}

.whitetextbtn{
    color:white;
    text-decoration:none;
    font-weight: bold;
}

.whitetextbtn:hover {
    color: white;
    text-decoration: none;
}

.buttonsecondary {
    background-color: var(--color-secundario);
    color: white;
}

.buttonclear:hover {
    background-color: transparent;
    color: black;
}

.buttonsecondary:hover {
    background-color: var(--color-secundario-hover);
    color: white;
}

.pill {
    background-color: var(--color-secundario-hover);
    color: white;
}


.pill2 {
    background-color: var(--color-principal);
    color: white;
}

.collapseContainingDiv td {
    padding: 0 !important;
}

.hiddenRow {
    padding: 0 !important;
}

.form-group {
    padding-bottom: 5px;
}

.control-label{
    font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.idpills {
    background-color: var(--color-secundario-hover);
    color: white;
    margin-top: -20px;
    position: absolute;
    align-self:center;
    margin-left:10px;
}

.recurrent {
    position: absolute;
    margin-top: -22.5px;
    margin-left: 99px;
    color: var(--color-secundario-hover);
}








select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.428571429;
    color: #212529;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image: none;
    overflow: visible;
    z-index: 5000;
}

    select.form-control + .chosen-container.chosen-container-single .chosen-single div {
        top: 4px;
        color: #000;
    }

select.form-control + .chosen-container .chosen-drop {
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.428571429;
    color: #212529;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 1rem;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

    select.form-control + .chosen-container .chosen-results li,
    select.form-control + .chosen-container .chosen-results li.active-result {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
        background-image: none;
    }
        select.form-control + .chosen-container .chosen-results li:hover,
        select.form-control + .chosen-container .chosen-results li.active-result:hover,
        select.form-control + .chosen-container .chosen-results li.highlighted {
            color: #FFF;
            text-decoration: none;
            background-color: #428BCA;
            background-image: none;
        }

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 38px;
    padding: 6px;
    font-size: 1rem;
    line-height: 1.428571429;
    color: #212529;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
}

    select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: auto;
        padding: 5px 0;
    }

    select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
        background-image: none;
        padding: 3px 24px 3px 5px;
        margin: 0 6px 0 0;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        background-color: #FFF;
        border-color: #CCC;
    }

        select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            top: 8px;
            right: 6px;
        }

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}



.modal .modal-dialog-scrollable .modal-body {
    overflow: visible!important;
    overflow-y: visible;
    z-index: 5000;
}

.chosen-container-single .chosen-single span {
    overflow: visible!important;
    overflow-y: visible;
    z-index: 5000;
}

.chosen-container-single .chosen-single {
    overflow: visible!important;
    overflow-y: visible;
    z-index: 5000;
}
.modal-content {
    overflow: visible!important;
}